<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student-List</title>

</head>

<body>

  <div class="container">
    <h2 class="text-center">Student List</h2>
    <a class="btn btn-primary" role="button" href="api/student/create">Add Student</a>
    <br>
    <form action="" class="row justify-content-end">
      <div class="col-auto">
        <input type="text" name="search" placeholder="Search...">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <div *ngIf="this.infor.length >0; else elseBlock">
      <!-- Nội dung được hiển thị khi showContent là true -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Birthday</th>
            <th>Action</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of infor">
            <td>{{info.studentId}}</td>
            <td>{{info.name}}</td>
            <td>{{info.email}}</td>
            <td>{{info.phone}}</td>
            <td>{{info.gender?'Male':'Female'}}</td>
            <td>{{info.address}}</td>
            <td>{{info.birthday}}</td>
            <td>
              <button class='btn btn-primary btn-sm' (click)="passUpdate(info.studentId)"><i
                  class="fas fa-edit"></i></button>
              <button class='btn btn-danger btn-sm' (click)="passDelete(info.studentId)"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
  
          </tr>
        </tbody>
      </table>
    </div>
    
    <ng-template #elseBlock>
      <!-- Nội dung được hiển thị khi showContent là false -->
      <div>No Result</div>
    </ng-template>
    
  </div>
</body>

</html>