<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <meta charset="utf-8">
   <title>Student-List</title>

  </head>
  <body>

    <div class="container">
          <h2 class="text-center">Student List</h2>
          <a class="btn btn-primary" role="button" href="api/student/create">Add Student</a>
          <br>
          <form action=""  class="row justify-content-end">
            <div class="col-auto">
              <input type="text" name="search" placeholder="Search...">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Birthday</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let info of infor">
                <td>{{info.ID}}</td>
                <td>{{info.Name}}</td>
                <td>{{info.Email}}</td>
                <td>{{info.Phone}}</td>
                <td>{{info.Address}}</td>
                <td>{{info.Birthay}}</td>
                <td>
                  <button class='btn btn-primary btn-sm' (click)="passUpdate(info.ID)"><i class="fas fa-edit"></i></button>
                  <a class='btn btn-danger btn-sm' href="#"><i class="fas fa-trash-alt"></i></a>
                </td>

              </tr>

            </tbody>
          </table>
    </div>
  </body>
  </html>
