body {

  margin: 0;
  padding: 0;
  background-image: url(../../../assets/images/hinh-nen-8k-16.jpg);
  height: 100vh;
  overflow: hidden;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.center h1 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid silver;
  width: 100%;
}

/* Chiều rộng của content sẽ tự động co giãn tương ứng khi thay đổi padding và border */
.center form {
  padding: 0 40px;
  box-sizing: border-box;

}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0px;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2980b9;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #2980b9;
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass a {
  text-decoration: none;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50%;
  border: 1px solid;
  background: #2980b9;
  font-size: 18px;
  border-radius: 26px;
  cursor: pointer;
  outline: none;
  color: white;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: .5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;


}

.signup_link a {
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.mess {
  color: red;
}

.go-back-btn {
  display: inline-block;
  margin: 30px 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.go-back-btn:hover {
  background-color: #0062cc;
}

button {
  width: 25%;
  margin-bottom: 5px;
}

.txt_gender {
  color: #666666;
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.txt_gender label {
  padding-right: 40px;
}

.txt_gender input {
  margin-left: 20px;
}

.form-column {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
}

.button-container {
display: flex;
justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
  }

}