<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Update-Student</title>
</head>

<body>
  <div class="container">
    <div class="mess" *ngIf="this.errorMessage">
      <small>{{this.errorMessage}}</small>
    </div>
    <div *ngIf="this.infor; else elseBlock">
      <!-- Nội dung được hiển thị khi showContent là true -->
      <h2 class="text-center">Update Student</h2>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col-sm-6">
            <input type="hidden" class="form-control" formControlName="studentId">
          </div>

        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="name">
          </div>

        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" formControlName="email">
          </div>

        </div>


        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Phone</label>
          <div class="col-sm-6">
            <input type="phone" class="form-control" formControlName="phone">
          </div>

        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Address</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="address">
          </div>

        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Birthday</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" formControlName="birthday">
          </div>

          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-6">
              <input type="radio" id="male" name="gender" value="male" required formControlName="gender" required="">
              <label for="male">Male</label>
              <input type="radio" id="female" name="gender" value="female" required formControlName="gender">
              <label for="female">Female</label>
            </div>
          </div>

          <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
            <div class="col-sm-3 d-grid">
              <button class="btn btn-primary" onclick="window.location.href='student'" type="button">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <ng-template #elseBlock>
      <!-- Nội dung được hiển thị khi showContent là false -->
      {{this.errorMessage}}
    </ng-template>
  </div>

</body>

</html>