<!-- <form (ngSubmit)="onSubmit()" autocomplete="new-password" [formGroup]="loginForm">
   <a [routerLink]="['/product']">Product-List</a>
  <a href="student">P</a> -->
  <!-- có 2 cách điều hướng -->
  <!-- <div class="form-control">
    <label for="email">Email:</label>
    <input autocomplete="new-password" type="email" id="email" name="email" formControlName="email">
  </div>
  <div *ngIf="this.loginForm.get('email')?.errors && this.loginForm.get('email')?.touched ">
    <small color> Email is error</small>
  </div>

  <div class="form-control">
    <label for="pass">Password:</label>
    <input autocomplete="new-password" type="password" id="pass" name="password" formControlName="password">
  </div>
  <div *ngIf="this.loginForm.get('password')?.value != this.user.password && this.loginForm.get('password')?.touched">
    <small > Password is error</small>
  </div>
  <button type="submit">
    Login &#8594;
  </button> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <meta charset="utf-8">
   <title>Login</title>
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form (ngSubmit)="onSubmit()" autocomplete="new-password" [formGroup]="loginForm">
        <div class="mess" *ngIf="this.loginForm.get('email')?.errors && this.loginForm.get('email')?.touched ">
          <small>Ex: luanvsce@gmail.com</small>
        </div>
        <div class="txt_field">
          <input type="text" required formControlName="email" >
          <span></span>
          <label for="Email">Email</label>

        </div>
        <div class="mess" *ngIf="this.loginForm.get('password')?.value != this.user.password && this.loginForm.get('password')?.touched">
          <small > Password is incorrect</small>
        </div>
        <div class="txt_field">
          <input type="password" required formControlName="password">
          <span></span>
          <label for="Password">Password</label>
        </div>
        <div class="pass">
        <a href="forget">Forget Password ?</a>
        </div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a memeber ? <a href="signup">Signup</a>
        </div>
      </form>
    </div>

  </body>
</html>

<!-- </form> -->

